<h1> Linh di tiec </h1> <br>

 <%= image_tag("DSCF6972.jpg", height: 400)%>

<h1>Em khong hieu</h1>

 <br>
 <h2>Hom nay hoc nhung gi</h2>
 Hoc Ruby den phan 7 roi ne<br>
 Hoc git duoc 1 xiu ah<br>
 Anh noi gian vi em khong chiu on bai